.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.bottomContainer {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.root {
  display: flex;
  flex-direction: column;
}

.item {
	display: flex;
	flex-direction: column;
  margin: 20px;
}
