.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh
}

.formContainer {
  width: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.insideForm {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.header {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerTitle {
  margin: 0;
  text-align: center;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.error {
  color: #f44336;
}
